<?xml version="1.0"?>
<!--
/**
 * Multiple Layered Navigation
 * 
 * @author Slava Yurthev
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route id="sy_multiple_layered_navigation" frontName="sy_multiple_layered_navigation">
			<module name="SY_MultipleLayeredNavigation" />
		</route>
	</router>
</config>